.memolist {
  flex: 4;
  position: relative;
}
.memo-page {
  display: flex;
  position: relative;
  width: 70vw;
  height: 100vh;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  /* background-color: rgba(240, 233, 233, 0.75); */
}
/* #A52294,#BD910E */
.memo-details {
  flex: 2;
  border-radius: 5px;
  width:20vw;
  height: 100%;
  background-color: white;
  /* background: linear-gradient(whitesmoke, rgba(141, 137, 137, 0.75)); */
  box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
}
.header > p{
  padding: 5px;
  font-size: 15px;
}doc_atc
.header > p > span {
  font-family: "Ibarra Real Nova", serif;
}
.memoID {
  font-family: "Ibarra Real Nova", serif;
  color: #A52294;
}
.cp {
  font-family: "Ibarra Real Nova", serif;
  font-size: 25px;
}
.comments {
  flex: 1;
  width: 50%;
  height: auto;
  border-radius: 5px;
  margin-left: 10px;
  overflow-y: scroll;
  position: relative;
  box-sizing: border-box;
}
.comments span {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  color: #000;
  margin-left: 10px;
}
.comment-details {
  background: linear-gradient(whitesmoke, rgba(141, 137, 137, 0.75));
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}
.comment-details P {
  font-size: 10px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
}
.comment-top {
  border-bottom: 1px solid purple;
}
.add-comment {
  position: fixed;
  background: darkblue;
  box-shadow: 2px 2px 2px 0px rgba(230, 214, 214, 0.75);
  -webkit-box-shadow: 2px 4px 5px 0px rgba(230, 214, 214, 0.75);
  -moz-box-shadow: 2px 4px 5px 0px rgba(230, 214, 214, 0.75);
  right: 70px;
  top: 70px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}
.memo-addBtn {
  padding: 5px;
  color: white;
}
.download-btn {
  padding: 10px;
  background-color: rgb(72, 146, 72);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Ibarra Real Nova", serif;
}
.modal-content {
  width: 300px;
  height: 200px;
}
.cTxt {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: fixed;
  top: 12%;
  left: 70%;
  width: 300px;
  height: 300px;
  transition: 5s ease-in;
}
.cTxt > textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  font-style: italic;
}
.cT {
  display: none;
}
.cTxt > textarea:focus {
  outline: none;
}
.btn {
  margin-left: 5px;
}
.btn > button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn > button:first-child {
  background-color: green;
  color: white;
}
.btn > button:last-child {
  background-color: red;
  margin-left: 2px;
  color: white;
}
.send-to > h6{
  font-family: 'Times New Roman', Times, serif;
}
.select-opt {
  width: 100px;
  height: 30px;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 3px;
  outline: none;
}
.doc_atc{
  cursor:pointer;
  margin-left:5px
}