.memolist {
  flex: 4;
}
/* .memolist-container {
  margin: 10px;
} */
.memo-page {
  display: flex;
  position: relative;
  width: auto;
  height: 22cm;
  padding: 1cm;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(240, 233, 233, 0.75);
}
.memo-details {
  flex: 2;
}
@page {
  size: A4;
  margin: 0;
}
@media print {
  .memo-page {
    margin: 0;
    border: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
.comments {
  flex: 1;
  width: 50%;
  height: auto;
  border-radius: 5px;
  margin-left: 10px;
  overflow-y: scroll;
  /* background: linear-gradient(whitesmoke,rgba(237, 234, 234, 0.75));
  box-shadow: 2px 2px 2px 0px rgba(230, 214, 214, 0.75);
  -webkit-box-shadow: 2px 4px 5px 0px rgba(230, 214, 214, 0.75);
  -moz-box-shadow: 2px 4px 5px 0px rgba(230, 214, 214, 0.75); */
}
.comments span {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  color: #000;
  margin-left: 10px;
}
.comment-details {
  background: linear-gradient(whitesmoke, rgba(141, 137, 137, 0.75));
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}
.comment-details P{
  font-size: 10px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
}
.comment-top{
  border-bottom: 1px solid purple;
}
.download-btn {
  padding: 10px;
  background-color: rgb(72, 146, 72);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}
