.login-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  background-color: rgb(223, 215, 215);
  transition: 0.10s ease-in;
}
.side-img{
  flex:1;
  background-image:url("../../assets/picimage.jpg")
}
.login {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}
.login > p {
  color: purple;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: normal;
  border-bottom: 2px solid purple;
}
.login > input {
  width: 300px;
  height: 30px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
   background:gainsboro;
  border-radius: 5px;
}
.loginBtn {
  padding: 15px;
  width: 320px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background:#BD910E;
  font-size: 18px;
}
.login > input:focus {
  outline: none;
}
