.sent {
  flex: 4;
  padding: 5px;
  background-color: white;
  margin: 10px;
  transition: 0.1s ease-in;
  /* box-shadow: 2px 4px 5px 0px rgba(230,214,214,0.75);
      -webkit-box-shadow: 2px 4px 5px 0px rgba(230,214,214,0.75);
      -moz-box-shadow: 2px 4px 5px 0px rgba(230,214,214,0.75); */
}
